doctype html
html(lang="ru")
  include modules/vars
  include modules/head
  body
    include modules/header
    main.main
      include modules/first-block
      include modules/about
      include modules/projects
      include modules/contacts
    include modules/footer
